.heading {
	font-family: Tahoma;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	color: deepskyblue;
	background-color: indigo;
	}

table 	{
	border: 2px solid black;
	}

td:hover	{
	font-family: Tahoma;
	font-size: 14px;
	color: black;
	background-color: yellow;
	}

tr, th	{
	font-family: Tahoma;
	font-size: 14px;
	color: indigo;
	background-color: deepskyblue;
	}

tr, td	{
	font-family: Tahoma;
	font-size: 14px;
	color: white;
	background-color: hotpink;
	}